<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>ArcGIS API for JavaScript Hello World App</title>
    <style>
        html, body, #viewDiv {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }
    </style>
    <link rel="stylesheet" th:href="@{CSS/style.css}">
    <link rel="stylesheet" href="https://js.arcgis.com/4.13/esri/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://js.arcgis.com/4.13/"></script>

    <script>
        require([
            "esri/Map",
            "esri/views/MapView",
            "esri/Graphic"
        ], function(Map, MapView, Graphic) {

            var map = new Map({
                basemap: "dark-gray"
            });

            var view = new MapView({
                container: "viewDiv",
                map: map,
                center: [6.5665,53.2194],
                zoom: 11
            });

        });
    </script>
</head>
<body>

<div class="topnav">
    <a href="Welcome"><i class="fa fa-fw fa-home"></i> Home</a>
    <a class="active" href="Gis"><i class="fa fa-globe"></i> GIS</a>
    <a href="Add"><i class="fa fa-folder"></i> Add data</a>
</div>
<div id="viewDiv" style="height: 800px; width: 1000px">

</div>



</body>
</html>