body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0px;
    padding-bottom: 0px;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    display: inline-block;
    justify-content: center;
}

.topnav a {
    float: right;
    text-align: center;
    list-style-type: none;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #3881af;
    color: white;
}

/*.topnav > img {*/
/*    display: inline-block;*/
/*    margin:auto;*/
/*}*/

html, body, #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

/*#timeSliderDiv {*/
/*    position: absolute;*/
/*    left: 100px;*/
/*    right: 100px;*/
/*    bottom: 30px;*/
/*}*/

#infoDiv {
    height: 0px;
    padding: 0px;
    width: 280px;
}

#infoDiv span {
    color: #f9c653;
    font-size: 12pt;
    font-weight: bolder;
}
.footer {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    with: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    overflow:auto;
    float: right;
}

form {
    overflow: hidden;
}

label {
    float: left;
    width: 200px;
    padding-right: 24px;
}

fieldset {
    width: 500px;
}

legend {
    font-size: 20px;
}

button {
    float: left;
    width: calc(20% - 200px);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.date-picker-button {
    color: #fff;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 12px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    width: 300px;
}

.input-group {
    position: relative;
    margin-bottom: 10px;
    display: block !important;
    width: 300px;
    border: none;
}

.date-picker-button .date-picker-input {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: none;
    width: 300px;
    padding-left: 55px;
}

.fa.fa-angle-down {
    float: right;
    color: white;
    font-size: 20px !important;
    font-weight: 600;
    top: 0 !important;
    position: relative;
    margin-right: 24px;
}

.fa-calendar-o {
    color: white !important;
    z-index: 1;
    top: 0 !important;
    position: relative !important;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: 10px;
    min-width: 100%;
    width: 100%;
    /*max-width: 100%;*/
    line-height: 0.5px;
}

img {
    width: 200px;
}

.container-footer {
    margin: auto;
    width: 100%;
    text-align: center;
}

.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
}
.carousel-caption h3 {
    color: #fff !important;
}
@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}