<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add page</title>
    <link rel="stylesheet" th:href="@{CSS/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script th:src="@{/js/GetLocation.js}" src="/js/GetLocation.js"></script>

<body>
<!-- navbar -->
<div class="sticky-top">
  <nav class="navbar navbar-expand navbar-dark bg-dark justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/Welcome"><i class="fa fa-fw fa-home"></i> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Gis"><i class="fa fa-globe"></i> GIS</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/Add"><i class="fa fa-folder"></i> Add new data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Datatable"><i class="fa fa-folder"></i> View data</a>
      </li>
    </ul>
  </nav></div>

<!--container for input new data as a single instance or csv file-->
<div class="container">
  <div class="row">
    <div class="form col-7 mt-5 mb-5">
      <div class="card shadow">
        <h5 class="card-header"  th:text="#{card1.title}">Input new data</h5>
        <div class="card-body">
      <form action="/Add" method="POST" class="needs-validation" novalidate>
        <p class="card-title" th:text="#{card1.subtitle}"> Add a new data point to the map.</p>

        <div class="form-group">
            <label for="FarmID" th:text="#{obj.farm}">Farm id</label>
              <input class="form-control" placeholder="Enter Farm ID" type="number" name=farm min="1" id="FarmID" aria-describedby="basic-addon3" required>
              <div class="invalid-feedback">
                <p th:text="#{obj.feedback.id}"> Please enter Farm id.</p>
              </div>
        </div>
        <div class="form row">
          <div class="col-5 form-group">
            <label for="Lat">Latitude</label>
            <input type="text" class="form-control" name=latitude placeholder="Latitude" id="Lat" required>
          </div>
          <div class="col-5 form-group">
            <label for="Long" >Longitude</label>
            <input type="text" class="form-control" name="longitude" placeholder="Longitude" id="Long" required>
          </div>
          <div class="col-2 form-group">
              <label for="location">&nbsp;</label>
              <button id="location" class="btn btn-primary" style="width:75px;" type="button"  onclick="getLocation()"><i class="fa fa-map-marker" aria-hidden="true"></i></button>
          </div>
        </div>
          <div class="sd-container form-group">
            <label for="validationCustom03" th:text="#{obj.date}"> Date</label>
            <div class="input-group">
              <input id="validationCustom03" class="sd form-control datepicker" type="date" name="selected_date" required>
            </div>
            <div class="invalid-feedback">
              Please provide a valid date.
            </div>
          </div>
          <div class="form-group">
            <label for="validationCustom04" th:text="#{obj.state}">Contamination</label>
            <select class="custom-select" id="validationCustom04" name="contamination" required>
              <option selected disabled value="" th:text="#{obj.Choose}">Choose...</option>
              <option value="TRUE">TRUE</option>
              <option value="FALSE">FALSE</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid value.
            </div>
            <p th:text="${dataApproved}"></p>
          </div>
        <div class="input-group">
          <input class="btn btn-primary" type="submit" th:value="#{Submit}" name="csv_file">
        </div>

      </form>
        </div></div></div>
    <div class="form col-5 mt-5 mb-5">
      <div class="card shadow">
        <h5 class="card-header" th:text="#{card2.title}"> Input new datafile </h5>
        <div class="card-body">
      <form method="POST" action="/upload" enctype="multipart/form-data">
        <p class="card-title" th:text="#{card2.subtitle}">Select a csv file with data to add to the map.</p>
        <div class="form-group">
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" name="fileToUpload" id="csvinput" aria-describedby="inputGroupFileAddon04" accept=".csv" required>
              <label class="custom-file-label" for="csvinput" th:text="#{obj.file}">Choose file</label>
            </div><br>
            <div>
               <p th:text="#{obj.code}"></p>
<!--              <label for="code" ></label>-->
              <input class="form-control" placeholder="Code" type="double" name="code" min="0" id="code">
            </div>
          </div>
          <div class="input-group">
            <input class="btn btn-primary" type="submit" id="inputGroupFileAddon04" th:value="#{Submit}" name="csv_file">
          </div>
          </div>

        <p th:text="${fileApproved}"></p>
      </form>
    </div>
  </div>
    </div>
  </div></div>

<!--footer-->
<footer class="footer font-small blue">
  <div class="container">
    <p>van Stad tot Wad GIS WebApp - <i>by Jildou Haaijer, Chenoa van Nassau & Liesje Bloembergen</i></p>
  </div>
</footer>

<script>
  // Function for add data
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>

</body>
</html>
