<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>GIS</title>
    <link rel="stylesheet" th:href="@{CSS/style.css}">
    <link rel="stylesheet" href="https://js.arcgis.com/4.14/esri/themes/dark/main.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js" integrity="sha256-MZo5XY1Ah7Z2Aui4/alkfeiq3CopMdV/bbkc/Sh41+s=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/patternomaly@1.3.2/dist/patternomaly.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://js.arcgis.com/4.14/"></script>
    <script th:src="@{/js/GisMap.js}" src="/js/GisMap.js"></script>

<!-- some CSS code for just GIS page-->
<style>
    html, body, #viewDiv {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
    }

    #infoDiv {
        height: 0px;
        padding: 0px;
        width: 280px;
    }

    #infoDiv span {
        color: #f9c653;
        font-size: 12pt;
        font-weight: bolder;}
</style>

</head>

<body>

<!--navbar-->
<div class="sticky-top">
  <nav class="navbar navbar-expand navbar-dark bg-dark justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/Welcome"><i class="fa fa-fw fa-home"></i> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/Gis"><i class="fa fa-globe"></i> GIS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Add"><i class="fa fa-folder"></i> Add new data</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/Datatable"><i class="fa fa-folder"></i> View data</a>
      </li>

    </ul>
  </nav></div>

<div style="height: 85%;">
    <div id="content" class="container"></div>
    <div id="infoDiv"></div>
    <div id="barChart"></div>
    <div id="viewDiv"></div>
    <div id="timeSliderDiv"></div>

</div>

</body>
</html>
