<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{CSS/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="css/agency.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body>
<!--navbar-->
    <nav class="navbar navbar-expand navbar-dark bg-dark justify-content-center">
                <a class="logo" href="https://www.vanstadtotwad.nl/"><img src="/images/vstw_transparant.png" class="pull-left img-responsive" width="50" height="35"> </a>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/Welcome"><i class="fa fa-fw fa-home"></i> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Gis"><i class="fa fa-globe"></i> GIS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Add"><i class="fa fa-folder"></i> Add new data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Datatable"><i class="fa fa-folder"></i> View data</a>
            </li>
        </ul>
    </nav>

<!--carousel slider for images at welcome page-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="carousel-item active">
                <a href="#"><img src="../images/data2.jpg" width="1200" height="300"/></a>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="carousel-item">
                <a href="#"><img src="../images/map.jpg" width="1200" height="300"/></a>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="carousel-item">
                <a href="#"><img src="../images/farmheader.png" width="1200" height="300"/></a>
                <div class="carousel-caption">
                </div>
            </div>
        </div>
    </div>

    <!-- Left and right controls for carousel -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"/>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"/>
        <span class="sr-only">Next</span>
    </a>
</div>

    <!-- Information about the project-->
    <section class="page-section" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase"> </h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
          <span class="fa-stack fa-4x">
              <i class="fa fa-compass"></i>
          </span>
                    <h4 class="service-heading"><em>Project</em></h4>
                    <p class="text-muted" th:text="#{introduction}"></p>
                </div>
                <div class="col-md-4">
          <span class="fa-stack fa-4x">
              <i class="fa fa-cloud"></i>
          </span>
                    <h4 class="service-heading"><em>Webapplication</em></h4>
                    <p class="text-muted" th:text="#{Webapp}"></p>
                </div>
                <div class="col-md-4">
          <span class="fa-stack fa-4x">
              <i class="fa fa-user"></i>
          </span>
                    <h4 class="service-heading"><em>About us</em></h4>
                    <p class="text-muted" th:text="#{bioinf}"></p>
                </div>
            </div>
        </div>
    </section>

<!--footer-->
<footer class="footer">
<div class="container">
<footer class="page-footer font-small blue">
        <div id="footer-images">
                <img src="../images/hanze.png" class="pull-left img-responsive" width="190" height="50">
            <p>van Stad tot Wad GIS WebApp - <i>by Jildou Haaijer, Chenoa van Nassau & Liesje Bloembergen </i></p>
        </div>
</div>
</footer>

</body>
</html>

