<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="heart-rate-zones" method="POST">
    <label for="hr_input" th:text="#{heartRate.label}">_Heart rate_</label>
    <input id="hr_input" type="number" name="heartRateLevel" value="180" min="40" max="250">
    <input type="submit" value="Submit"/>
</form>

</body>
</html>